<!-- login.component.html -->
<div class="login-container">
  <nz-card [nzTitle]="'Login'">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Usuario -->
      <nz-form-item>
        <nz-form-label [nzSpan]="6" for="username">Usuario</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input id="username" formControlName="username" />
        </nz-form-control>
      </nz-form-item>

      <!-- Contraseña -->
      <nz-form-item>
        <nz-form-label [nzSpan]="6" for="password">Contraseña</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input
            nz-input
            id="password"
            type="password"
            formControlName="password"
          />
        </nz-form-control>
      </nz-form-item>
      <!-- reCAPTCHA v2 -->
      <nz-form-item>
        <nz-form-control [nzSpan]="20">
          <re-captcha
            siteKey="6LfFyicrAAAAABz4c--QD7ynZa3TJCkJwCmmD-Ru"
            (resolved)="onCaptchaResolved($event)"
          >
          </re-captcha>
        </nz-form-control>
      </nz-form-item>
      <!-- Botón de enviar -->
      <nz-form-item>
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button
            nz-button
            nzType="primary"
            [disabled]=" !recaptchaCompleted()"
          >
            Ingresar
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>
