/* login.component.css */
.login-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 100vh;           /* Utiliza toda la altura de la ventana */
  padding: 0 20px;         /* Añade un pequeño padding para no tocar los bordes */
  background: linear-gradient(to right, #f5f7fa, #c3cfe2);

}
.text-center {
  text-align: center;

}

.custom-card {
padding: 25px;
border-radius: 15px;

}

