/* Estilos para el contenedor */
.search-container {
  max-width: 400px; /* Máximo ancho del contenedor */
  margin: 0 auto;   /* Centrar horizontalmente */
  padding: 20px;    /* Añadir un poco de espacio alrededor del contenedor */
  border: 1px solid #d9d9d9;  /* Borde para el contenedor */
  border-radius: 8px;  /* Bordes redondeados */
  background-color: #f7f7f7;  /* Fondo ligeramente gris */
}

/* Estilo para el input */
.search-container input {
  width: 100%;  /* Asegura que el input ocupe todo el ancho del contenedor */
  margin-bottom: 15px;  /* Espacio abajo para separar del botón */
}

/* Estilo para el botón */
.search-container button {
  width: 100%;  /* Hacer que el botón ocupe todo el ancho */
  margin-top: 10px;  /* Espacio superior para separar del input */
}
